<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EWA AND NVQ E PORTFOLIO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>325D40F62D13287700E41085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>325D41062D13287800E41085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>325D41102D13287800E41085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
